@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Pixelify Sans";
  background-color: #ffbb4b;
}

#title {
  color: red;
  text-shadow: 1px 1px 1px black;
  margin-top: 50px;
  font-size: 80px;
}

#instructions {
  font-size: 25px;
}

.container {
  display: flex;
  align-items: center;
}

.left-blocker {
  width: auto;
  height: 310px;
  background-color: #ffbb4b;
  flex-grow: 1;
  z-index: 1;
}

.right-blocker {
  width: auto;
  height: 310px;
  flex-grow: 1;
  background-color: #ffbb4b;
  z-index: 1;
}

#smoking {
  width: 48px;
  height: 48px;
  background-image: url("/Cowboy (Animated Pixel Art)/Animation Sprite Sheets (PNG)/smoking.png");
  animation-name: smoking;
  animation-duration: 700ms;
  animation-timing-function: steps(9);
  animation-iteration-count: infinite;
  margin: 10px auto;
  margin-bottom: 0px;
  scale: 1.6;
}

@keyframes smoking {
  to {
    background-position: -432px;
  }
}

#game-area {
  width: 700px;
  height: 300px;
  border: 2px solid black;
  margin: 10px auto;
  margin-top: 0;
  background-image: url(background.jpg);
  background-size: cover;
  position: relative;
}

#game-over {
  font-size: 100px;
  color: red;
  text-shadow: 1px 1px 1px black;
  display: none;
}

#score {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 60px;
}

#latest-score {
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 5px;
}

#explosion {
  position: absolute;
  top: 210px;
  left: 290px;
  width: 120px;
  height: 120px;
  background-image: url(explosion.gif);
  background-size: cover;
  display: none;
}

#player {
  position: absolute;
  top: 238px;
  left: 330px;
  width: 48px;
  height: 48px;
  scale: 1.6;
}

.walking {
  animation: walking;
  animation-duration: 600ms;
  animation-timing-function: steps(9);
  animation-iteration-count: infinite;
  background-image: url("/Cowboy (Animated Pixel Art)/Animation Sprite Sheets (PNG)/walking.png");
}
.idling {
  animation: walking;
  animation-duration: 900ms;
  animation-timing-function: steps(9);
  animation-iteration-count: infinite;
  background-image: url("/Cowboy (Animated Pixel Art)/Animation Sprite Sheets (PNG)/CowBoyIdle.png");
}

@keyframes walking {
  to {
    background-position: -432px;
  }
}

#enemy {
  width: 20px;
  height: 20px;
  background-image: url(/tunna.png);
  background-size: cover;
  position: absolute;
  top: 280px;
  left: 800px;
}

.enemy-start {
  animation: enemy 4s linear infinite;
}
@keyframes enemy {
  0% {
    left: 800px;
  }
  100% {
    left: -200px;
    rotate: -2000deg;
  }
}

#start-btn {
  width: 140px;
  height: 50px;
  background-color: #be5f1f;
  border-radius: 5px;
  border: 1px solid rgb(173, 173, 173);
  transition: linear 50ms;
  font-family: "Pixelify Sans";
  font-size: 30px;
}
#start-btn:hover {
  scale: 1.1;
}
#start-btn:active:hover {
  scale: 1;
}

.jump {
  animation: jump 500ms linear;
  background-position: -288px;
}
@keyframes jump {
  0% {
    top: 238px;
  }
  30% {
    top: 188px;
  }
  70% {
    top: 188px;
  }
  100% {
    top: 238px;
  }
}
